* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-color: aqua;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    /* width: 100vh; */
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.market {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

.title {
    text-align: center;
    color: aquamarine;
}

.container h2 {
    text-align: center;
    color: rgb(12, 248, 170);
}

.product_square {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    margin: 5px;
}

.img img {
    width: 150px;
    height: 150px;
    border: 1px solid grey;
    border-radius: 50%;
}

.name,
.price,
.add_product,
.img {
    text-align: center;
}

.add_product input {
    width: 100%;
}